*.swp
env.sh
install-config.yaml
config
ignition
packer/*.ign
terraform/.terraform
terraform/.terraform*
terraform/terraform.tfstate
terraform/terraform.tfstate.backup

.work/
.secrets/
.env
*.pem
*.key
okd4_new_id_rsa*
